Projekt Mappe/WpfDrinkzy/WpfDrinkzy/Connected Services/ServiceIngredients/Modellayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Modellayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Modellayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfIngredients">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ingredients" nillable="true" type="tns:Ingredients" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIngredients" nillable="true" type="tns:ArrayOfIngredients" />
  <xs:complexType name="Ingredients">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Procent" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ingredients" nillable="true" type="tns:Ingredients" />
</xs:schema>