Projekt Mappe/WpfDrinkzy/WpfDrinkzy/Connected Services/ServiceIngredients/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Modellayer" />
  <xs:element name="GetIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="GetIngredientsResult" nillable="true" type="q1:ArrayOfIngredients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="GetIngredientsListResult" nillable="true" type="q2:ArrayOfIngredients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="Ingredients" nillable="true" type="q3:Ingredients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateIngredientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="Ingredients" nillable="true" type="q4:Ingredients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>