Projekt Mappe/WpfDrinkzy/WpfDrinkzy/Connected Services/ServiceIngredients/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceIngredients" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Modellayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceIngredients_GetIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_GetIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_GetIngredientsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsList" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_GetIngredientsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_CreateIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateIngredients" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_CreateIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_DeleteIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredients" />
  </wsdl:message>
  <wsdl:message name="IServiceIngredients_DeleteIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceIngredients">
    <wsdl:operation name="GetIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredients/GetIngredients" message="tns:IServiceIngredients_GetIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredients/GetIngredientsResponse" message="tns:IServiceIngredients_GetIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredients/GetIngredientsList" message="tns:IServiceIngredients_GetIngredientsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredients/GetIngredientsListResponse" message="tns:IServiceIngredients_GetIngredientsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredients/CreateIngredients" message="tns:IServiceIngredients_CreateIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredients/CreateIngredientsResponse" message="tns:IServiceIngredients_CreateIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceIngredients/DeleteIngredients" message="tns:IServiceIngredients_DeleteIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceIngredients/DeleteIngredientsResponse" message="tns:IServiceIngredients_DeleteIngredients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceIngredients" type="tns:IServiceIngredients">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredients/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredientsList">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredients/GetIngredientsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateIngredients">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredients/CreateIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredients">
      <soap:operation soapAction="http://tempuri.org/IServiceIngredients/DeleteIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceIngredients">
    <wsdl:port name="BasicHttpBinding_IServiceIngredients" binding="tns:BasicHttpBinding_IServiceIngredients">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfDrinkzy/ServiceIngredients/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>