Projekt Mappe/Website/Gui/Connected Services/StorageServiceRef/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StorageService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
  <xs:element name="CreateStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="storage" nillable="true" type="q1:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetStorageResult" nillable="true" type="q2:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cusID" type="xs:int" />
        <xs:element minOccurs="0" name="drinkID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetDrinkStorageResult" nillable="true" type="q3:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CusID" type="xs:int" />
        <xs:element minOccurs="0" name="orderID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStorages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="GetAllStoragesResult" nillable="true" type="q4:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStorageByDrinkAndStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drinkID" type="xs:int" />
        <xs:element minOccurs="0" name="cusID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStorageByDrinkAndStorageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelLayer" minOccurs="0" name="getStorageByDrinkAndStorageResult" nillable="true" type="q5:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>