Projekt Mappe/Website/Gui/Connected Services/DrinkServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Modellayer" />
  <xs:element name="GetDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="GetDrinkResult" nillable="true" type="q1:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDrinkListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="GetDrinkListResult" nillable="true" type="q2:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="Drink" nillable="true" type="q3:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Modellayer" minOccurs="0" name="Drink" nillable="true" type="q4:Drink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>